<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="">
    <!-- https://www.bootstrapcdn.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>MusicRecordGet</title>
</head>
<body>
    <div id="app">
        <input v-model="filterToGetBy" placeholder="filter" type="text" v-on:keyup.enter="getAllByFilter(filterToGetBy)">

        <button v-on:click="getAllByFilter(filterToGetBy)" class="btn btn-primary">Get all Music records</button>
        
        <ul id="musicRecordlist" v-if="musicRecords.length">
            <li v-for="music in musicRecords">
                {{music.title}}: {{music.artist}}: {{ music.release}}: {{music.genre}}
            </li>
        </ul>

        <input v-model="addData.title" placeholder="title" type="text"/>
        <input v-model="addData.artist" placeholder="artist" type="text"/>
        <input v-model="addData.release" placeholder="release" type="number"/>
        <input v-model="addData.genre" placeholder="genre" type="text"/>
        <button v-on:click="AddMusicRecord()" class="btn btn-primary">Add Music Record</button>
        <div>{{addMessage}}</div>

        <input v-model="titleToBeDeleted" placeholder="Title" type="text"/>
        <button v-on:click="DeleteMusicRecord(titleToBeDeleted)" class="btn btn-primary">Delete Music Record</button>
        <div>{{deleteMessage}}</div>

        <input v-model="titleToBeUpdated" placeholder="TitleToGetBy" type="text"/>
        <input v-model="updateData.title" placeholder="title" type="text"/>
        <input v-model="updateData.artist" placeholder="artist" type="text"/>
        <input v-model="updateData.release" placeholder="release" type="number"/>
        <input v-model="updateData.genre" placeholder="genre" type="text"/>
        <button v-on:click="UpdateMusicRecord()" class="btn btn-primary">Update Music Record</button>
        <div>{{updateMessage}}</div>

    </div>
    <script src="index.js"></script>
</body>
</html>